<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
       <bean id="student" class="com.app13.beans.Student">
       <property name="sid" value="101"/>
       <property name="sname" value="Ram"/>
       <property name="saddr" value="Pune"/>
       <property name="crs">
       		<bean id="course" class="com.app13.beans.Course">
      			<property name="cid" value="402"/>
      			<property name="cname" value="Java"/>
       		</bean>
       	</property>	
       </bean>  
</beans>